<!-- Preloader
============================================= -->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
<!-- Header
============================================= -->
<section class="main-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><%= image_tag "logott.png", :class=>"img-responsive", :alt=>"Logo"%></a>
            </div>
            <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                <div class="col-md-8 col-xs-12 nav-wrap">
                    <ul class="nav navbar-nav">
                        <li><a href="#owl-hero" class="page-scroll">Home</a></li>
                        <li><a href="#services" class="page-scroll">Servicios</a></li>
                        <li><a href="#portfolio" class="page-scroll">trabajos</a></li>
                        <li><a href="#team" class="page-scroll">Acerca</a></li>
                        <li><a href="#contact" class="page-scroll">Contacto</a></li>
                    </ul>
                </div>
                <div class="social-media hidden-sm hidden-xs">
                    <ul class="nav navbar-nav">
                        <% if user_signed_in? %>
                            <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, :class=>"page-scroll"%></li>
                        <%else%>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <%end%>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="owl-hero" class="owl-carousel owl-theme">
        <div class="item" style="background-image: url(/assets/Slide.jpg)">
            <div class="caption">
                <h6>Entra / Busca / Disfruta</h6>
                <h1>Somos <span>telMo app</span></h1>
                <%= link_to "Rsgistrate", new_user_registration_path, :class=>"btn btn-transparent" %><%= link_to "Accede", new_user_session_path, :class=>"btn btn-light" %> 

            </div>
        </div>
        <div class="item" style="background-image: url(/assets/motel1.jpg)">
            <div class="caption">
                <h6>Entra / Busca / Disfruta</h6>
                <h1>para  <span>Moteles</span></h1>
                <%= link_to "Rsgistrate", new_user_registration_path, :class=>"btn btn-transparent" %><%= link_to "Accede", new_user_session_path, :class=>"btn btn-light" %> 
            </div>
        </div>
        <div class="item" style="background-image: url(/assets/pareja.jpg)">
            <div class="caption">
                <h6>Entra / Busca / Disfruta</h6>
                <h1>tambien <span>usuarios</span></h1>
                <%= link_to "Rsgistrate", new_user_registration_path, :class=>"btn btn-transparent" %><%= link_to "Accede", new_user_session_path, :class=>"btn btn-light" %> 
            </div>
        </div>
    </div>
</section>

<!-- Welcome
============================================= -->
<section id="welcome">
    <div class="container">
        <h2>Bienvenido a <span>telMo app</span></h2>
        <hr class="sep">
        <%= image_tag "logo.png", :class=>"img-responsive center-block wow fadeInUp", :alt=>"Logo"%>
        <p>telMo es una plataforma para la centralizacion de la guia rosa de los paises donde este inscrito el motel, aqui encontraras informacion de interes a traves de sus dos plataformas, web y movil</p>
    </div>
</section>

<!-- Services
============================================= -->
<section id="services">
    <div class="container">
        <h2>Servicios</h2>
        <hr class="light-sep">
        <p>Que te ofrecemos</p>
        <div class="services-box">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-archive"></span></div>
                    <div class="media-body">
                        <h3>Maneja tu información</h3>
                        <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-group"></span></div>
                    <div class="media-body">
                        <h3>Compite en el mercado de manera directa</h3>
                        <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-smile"></span></div>
                    <div class="media-body">
                        <h3>Llega a los usuarios adecuados</h3>
                        <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                    </div>

                </div>

                <div class="row wow fadeInUp" data-wow-delay=".6s">
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-mobile-phone"></span></div>
                        <div class="media-body">
                            <h3>Plataforma de facil manejo</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-check"></span></div>
                        <div class="media-body">
                            <h3>Informacion verdadera</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-thumbs-up-alt"></span></div>
                        <div class="media-body">
                            <h3>Selecciona lo que de verdad te gusta</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio
============================================= -->
<section id="portfolio">
    <div class="container-fluid">
        <h2>Nuestros socios</h2>
        <hr class="sep">
        <p>Quienes hacen parte ya de esta gran comunidad</p>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" href="/assets/1.jpg" data-lightbox="image-1" data-title="Your caption">                    
                <%= image_tag "1.jpg", :class=>"img-responsive", :alt=>"1"%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/2.jpg" class="portfolio-box" data-lightbox="image-2" data-title="Your caption">
                    <%= image_tag "2.jpg", :class=>"img-responsive", :alt=>"2"%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/3.jpg" class="portfolio-box" data-lightbox="image-3" data-title="Your caption">
                    <%= image_tag "3.jpg", :class=>"img-responsive", :alt=>"3"%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/4.jpg" class="portfolio-box" data-lightbox="image-4" data-title="Your caption">
                    <%= image_tag "4.jpg", :class=>"img-responsive", :alt=>"4"%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/5.jpg" class="portfolio-box" data-lightbox="image-5" data-title="Your caption">
                    <%= image_tag "5.jpg", :class=>"img-responsive", :alt=>"5"%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/6.jpg" class="portfolio-box" data-lightbox="image-6" data-title="Your caption">
                    <%= image_tag "6.jpg", :class=>"img-responsive", :alt=>"6"%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Work Process
============================================= -->
<section id="work-process">
    <div class="container">
        <h2>Precios</h2>
        <hr class="sep">
        <p>Si quieres promocionar tu empresa a traves de la plataforma estos son nuestros precios</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <span class="icon-mobile-phone"></span>
                <h2 class="number timer">Free</h2>
                <h4>para usuarios moviles</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-lock"></span>
                <h2 class="number timer">Free</h2>
                <h4>basico para Moteles</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-key"></span>
                <h2 class="number timer">1000 &#36;</h2>
                <h4>Medio para moteles</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-unlock-alt"></span>
                <h2 class="number timer">1500 &#36;</h2>
                <h4>Premium para moteles</h4>
            </div>
        </div>
    </div>
</section>
<!-- Some Fune Facts
============================================= -->
<section id="fun-facts">
    <div class="container">
        <h2>Numeros que nos respaldan </h2>
        <hr class="light-sep">
        <p>Esta es la informacion de lo que hemos logrado hasta el momento</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <span class="icon-smile"></span>
                <h2 class="number timer">367</h2>
                <h4>Usuarios felices</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-tags"></span>
                <h2 class="number timer">150</h2>
                <h4>Moteles registrados</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-wine"></span>
                <h2 class="number timer">121</h2>
                <h4>Paises diferentes</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-credit-card"></span>
                <h2 class="number timer">10000</h2>
                <h4>empresas aliadas</h4>
            </div>
        </div>
    </div>
</section>
<!-- Some Fune Facts
============================================= -->
<!-- Testimonials
============================================= -->
<section id="testimonials">
    <div class="container">
        <h2>Comentaios</h2>
        <hr class="light-sep">
        <p>Que dicen nuestros Clientes</p>
        <div id="owl-testi" class="owl-carousel owl-theme">
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>I’am amazed, I should say thank you so much for your awesome template. Design is so 
good and neat, every detail has been taken care these team are realy amazing and talented! I will 
work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i></h5>

                </div>
            </div>
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>I’am amazed, I should say thank you so much for your awesome template. Design is so 
good and neat, every detail has been taken care these team are realy amazing and talented! I will 
work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i></h5>

                </div>
            </div>
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>I’am amazed, I should say thank you so much for your awesome template. Design is so 
good and neat, every detail has been taken care these team are realy amazing and talented! I will 
work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i></h5>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us
============================================= -->
<section id="contact">
    <div class="container">
        <h2>Contactenos</h2>
        <hr class="sep">
        <p>Puedes ponerte en contacto con nuestro equipo</p>
        <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="Name" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Mensaje"></textarea>
                </div>
                <a href="#" class="btn-block">Enviar</a>
            </form>
        </div>
    </div>
</section>
<!-- Google Map
============================================= -->
<div id="map"></div>
<!-- Footer
============================================= -->
<footer>
    <div class="container">
        <h1>telmo</h1>
        <div class="social">
            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
        </div>
        <h6>&copy; 2015 Carlos Agudelo</h6>
    </div>
</footer>

            <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>